<div class="settings">
  <div class="container-fluid">
    <div class="settingmargin">
      <h2 class="settinglabel">Settings</h2>
    </div>
    <nav>
      <ul class="nav nav-tabs" id="nav-tab" role="tablist">
        <li>
          <a class="nav-item nav-link border-class tabcolor active" id="nav-basic-tab" data-toggle="tab" role="tab"
            href="#nav-basic" aria-controls="nav-basic" aria-selected="false"><span class="f">Password</span></a>
        </li>
        <li>
          <a class="nav-item nav-link border-class tabcolor" id="nav-profile-tab" data-toggle="tab" role="tab"
            href="#nav-profile" aria-controls="nav-profile" aria-selected="false"><span class="f">Privacy</span></a>
        </li>
        <li>
          <a class="nav-item nav-link border-class tabcolor" id="nav-contact-tab" data-toggle="tab" role="tab"
            href="#nav-contact" aria-controls="nav-contact" aria-selected="false"><span class="f">Settings</span></a>
        </li>
      </ul>
    </nav>
    <div class="tab-content content-border paddingtodiv" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-basic" role="tabpanel" aria-labelledby="nav-basic-tab">
        <app-settingpassword></app-settingpassword>
      </div>
      <div class="tab-pane fade show" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <p class="txt-p">We respect your privacy and all your personal information is set to private by default so that no one other than you can see it. More options to control who can see your personal information coming soon.</p>
      </div>
      <div class="tab-pane fade show" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <p class="txt-p">We are building some cool features for you, your will be able to manage those features in easy steps here. Coming Soon!</p>
      </div>
    </div>
  </div>
</div>