.settings {
  background: #f3f3f3;
  padding-top: 50px;
  padding-bottom: 40px;
}
.min-higth {
  min-height: 600px;
}

.card-body .nav-link {
  border-radius: 25px !important;
}

.tabk {
  background-color: black !important;
}

.border-class {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.card-body {
  background-color: black !important;
}

.main-content--container div {
  margin-bottom: 0px !important;
}

.spacetodiv {
  padding: 60px 20px 20px 20px;
}

.marginside {
  padding: 5% 10% 10% 10%;
  background-color: #f3f3f3;
  position: relative;
  top: 50px;
}
/* .nav-tabs {
  border-bottom: 1px solid;
} */

.settingmargin {
  margin-bottom: 40px;
}

.settinglabel {
  color: #707070;
  font-family: Helvetica;
}

.content-border {
  border-left: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top: 1px solid #d1d1d1;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.tabcolor {
  font-family: Helvetica;
  font-size: 15px;
  text-align: left;
  color: #707070;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #f06257 !important;
  border-color: #d1d1d1 #d1d1d1 white !important;
}

.tabcolor {
  border-color: #d1d1d1 #d1d1d1 #d1d1d1 !important;
  background-color: white;
}

.paddingtodiv {
  padding-top: 26px;
  min-height: 421px;
  overflow: hidden;
  background-color: white;
}

.main-content--container div {
  margin-bottom: 0px;
}
.nav-tabs {
  border: none;
}
.txt-p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #707070;
}
@media screen and (max-width: 575px) {
  .f {
    font-size: 1.04rem;
  }
}
@media (min-width: 332px) {
  .content-border {
    border-top-right-radius: 20px;
  }
}
@media (min-width: 375px) {
  .f {
    font-size: 17.55px;
  }
}
@media (min-width: 425px) {
  .content-border {
    border-top-right-radius: 20px;
  }
}
@media (min-width: 768px){
  .f{
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .paddingtodiv {
    padding-left: 39px;
  }
  .settings {
    padding-left: 156px;
    padding-right: 156px;
  }
}
