.spaceuptodown {
  margin: 10px 0px;
}

.design-input {
  border-radius: 22px;
  border: solid 1px #d1d1d1;
}

/* .rightside {
  float: right;
  padding: 12px 49px;
  font-size: 15px;
} */

.headingpas {
  color: #707070;
  font-family: Helvetica;
  margin-bottom: 15px;
  font-size: 20px;
}

.lbl {
  color: #707070;
  font-family: Helvetica;
}
.eye {
  padding-right: 15px;
  color: #8c8383;
  font-size: 0.9rem;
  cursor: pointer;
}
.eye-icon {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .subright {
    padding-right: 40px;
  }
  @media (min-width: 992px) {
    .done-btn {
      margin-right: 50px;
    }
  }
}
