<div class="">
  <div>
    <label class="headingpas">Change Password</label>
  </div>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
    <div class="row" *ngIf="isPasswordSet">
      <div class="col-12 col-sm-12 col-md-6 col-lg-5">
        <div class="spaceuptodown">
          <div class="eye-icon">
            <label class="lbl">Current password</label>
            <span class="eye" (click)="toggleCurrentPassword()">
              <i class="fa" [ngClass]="currentPasswordClass"></i>
            </span>
          </div>
          <input #currentPassword name="password" formControlName="old_password" type="password" id="password"
            data-toggle="password" class="form-control design-input" />
          <div class="col-12 col-sm-12 col-md-12">
            <div class="errormsgcolor" *ngIf="submitted && f.old_password.touched && f.old_password.errors?.required">
              Current Password required</div>
            <div class="errormsgcolor"
              *ngIf="submitted && f.old_password.errors?.minlength || submitted && f.old_password.errors?.pattern">
              Invalid Password</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-5">
        <div class="spaceuptodown">
          <div class="eye-icon">
            <label class="lbl">New password</label>
            <span class="eye" (click)="toggleNewPassword()">
              <i class="fa" [ngClass]="newPasswordClass"></i>
            </span>
          </div>
          <input #newPassword name="total" formControlName="password" type="password"
            class="form-control design-input" />
          <div class="col-12">
            <div class="errormsgcolor validate-error-size" *ngIf="submitted && f.password.errors?.pattern">
              It should contain an uppercase, number & special character</div>
            <div class="errormsgcolor validate-error-size"
              *ngIf="submitted && f.password.errors?.required || submitted && f.password.errors?.minlength">
              Password should have minimum 7 characters</div>
          </div>
          <!-- <div class="col-12 col-sm-12 col-md-12">
            <div class="errormsgcolor"
              *ngIf="f.password.touched && f.password.errors?.required || f.password.errors?.minlength || f.password.errors?.pattern">
              Password must be atleast 7 characters and include an uppercase letter, a number
              and a special character</div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-5">
        <div class="spaceuptodown">
          <div class="eye-icon">
            <label class="lbl">Confirm password</label>
            <span class="eye" (click)="toggleConfirmPassword()">
              <i class="fa" [ngClass]="confirmPasswordClass"></i>
            </span>
          </div>
          <input #confirmPassword name="total" formControlName="confirmpassword" type="password"
            class="form-control design-input" />
          <div class="col-12 col-sm-12 col-md-12">
            <div class="errormsgcolor"
              *ngIf="submitted && f.confirmpassword.touched && f.confirmpassword.errors?.required">
              Password
              is required</div>
            <div class="errormsgcolor"
              *ngIf="f.confirmpassword.touched && f.confirmpassword.errors === null && f.confirmpassword.value !== f.password.value">
              Password not matching</div>
          </div>
        </div>
      </div>
    </div>
    <button class=" done-btn float-right" type="submit">
      Submit
    </button>
    <label name="successmsg" *ngIf="successmsg" class="submitmsgcolor">{{ successmsg }}</label>
    <label name="errormsg" *ngIf="Errormsg" class="errormsgcolor">{{ Errormsg }}</label>
    <label name="loading" *ngIf="loading">Saving...</label>
  </form>
</div>
