<button #modalLauncher type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalCenter"
  data-backdrop="static" data-keyboard="false" hidden>
  Launch demo modal
</button>
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="section">
              <div class="modal-side-bg">
                <img class="modal-side-logo" width="275"
                src="https://funstay010121.s3.ap-south-1.amazonaws.com/common/assets/images/tripshifu-logo-black.svg" alt="">
              </div>
              <div class="main-sec">
                <div class="forget-password">
                  <button #closeModalEl type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="password">
                    <span>Forgot Password</span>
                    <img class="user-ico"
                      src="https://funstay010121.s3.ap-south-1.amazonaws.com/common/assets/images/profile.svg" alt="">
                  </div>
                  <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup()">
                    <div class="row">
                      <div class="col-12 email-tag">
                        <label>Email</label>
                        <input formControlName='email' type="text" class="email form-control design-input" />
                      </div>
                      <div class="errormg">
                        <div class="row">
                          <div class="col-12">
                            <div class="errormsgcolor" *ngIf="f.email.touched && f.email.errors?.required">Email is
                              required
                            </div>
                            <div class="errormsgcolor" *ngIf="f.email.errors?.email">Email is invalid</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 login-content">
                        <span class="or">or</span>
                        <span class="backtologin" (click)="closeModal()">Back to login</span>
                        <div class="form-group">
                          <button class="reset float-right reset-btn">Reset</button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 errorm">
                        <label name="loading" *ngIf="loading">Please wait...</label>
                        <label name="errormsg" *ngIf="errorMessage" class="errormsgcolor">{{errorMessage}}</label>
                        <label name="successmsg" *ngIf="successmsg" class="submitmsgcolor">{{successmsg}}</label>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>