h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 60px 15px 0 40px;
}
.center { 
  width: 860px;
} 
.img1 {
  width: 434px;
  height: 450px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img2 {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.content {
  display: flex;
}
.reset {
  width: 430px;
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  background-color: white;
}
.section {
  border-radius: 24px;
}
.form {
  width: 90%;
  position: relative;
}
.form input {
  width: 100%;
  height: 100%;
  color:black;
  padding-top: 30px;
  border: none;
  outline: none;
  font-size: 18px;
}
.form label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #707070;
}
.form label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name { 
  transform: translateY(-150%);
  font-size: 14px;
}
.form input:focus + .label-name::after, .form input:valid + .label-name::after {
  transform: translateX(0%);
}
.confirm {
  margin-top: 40px;
}
.new {
  margin-top: 40px;
  padding: 0;
}
.reset-btn {
  width: 100%;
  height: 50px;
  font-size: 1.1rem;
  margin: 40px 0 0 0;
  border: none;
  text-align: center;
  display: block;
  color: #fff;
  cursor: pointer;
}
.st-custom-button[data-network] {
  background-color: #f06257;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width:545px) {
  .img .img1{
    display: none;
  }
  .main {
    width: auto;
  }
  .reset {
    height: 450px;
    margin: 0px;
    border-radius: 24px;
    padding: 0 10px 0 10px;
  }
  h1 {
    font-size: 1.5rem;
    margin: 60px 15px 0 25px;
  }
  .form {
    width: 100%;
  }
  .new {
    width: 90%;
    margin: 40px 0 0 20px;
  }
  .confirm {
    width: 90%;
    margin: 40px 0 0 20px;
  }
  .reset-btn{
    width: 90%;
    margin: 40px 0 0 20px;
  }
  .center{
    margin: 0;
    width: auto;
    position: absolute;
    top: 12%;
    left: 0%;
    right: 0;
    bottom: 0;
    transform: translate(-0%, -0%);  
  }
  .back{
    background: gray;
    height: 100vh;
  }
  .content {
    padding: 0 15px 0 15px;
  }
  .errormsgcolor {
    padding: 0 0 0 20px;
  }
}

@media screen and (min-width: 768px){
  .main {
    width: auto;
  }
  .reset {
    height: 450px;
    margin: 0px;
    border-radius: 24px;
    padding: 0 40px 0 40px;
  }
  .img1 {
    display: none;
  }
  .center{
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .back{
    background: gray;
    height: 100vh;
  }
  .form {
    width: 100%;
  }
}
@media screen and (min-width:992px){
  .img1 {
    width: 434px;
    display: block;
  }
  .reset{
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: 0;
    width: 430px;
    padding: 0 40px 0 40px;
  }
  .center{
    width: 860px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .back{
    overflow: auto;
    display: block;
    background: gray;
    min-height: 100vh;
  }
}
