<div class="back reset-modal">
  <div class="clear">
    <div class="center">
      <form [formGroup]="resetForm" (ngSubmit)="onSubmitReset()">
        <div class="row">
          <div class="col-12">
            <div class="section">
              <div class="content">
                <div class="modal-side-bg">
                  <img class="modal-side-logo" width="275"
                    src="https://funstay010121.s3.ap-south-1.amazonaws.com/common/assets/images/tripshifu-logo-black.svg"
                    alt="">
                </div>
                <div class="reset">
                  <h1>Reset Your Password</h1>
                  <div class="form">
                    <div class="form new">
                      <input #newPassword formControlName="password" type="password" name="name" autocomplete="off"
                        required>
                      <label for="name" class="label-name">
                        <span class="content-name">New Password</span>
                      </label>

                    </div>
                    <div class="col-12">
                      <div class="errormsgcolor"
                        *ngIf="f.password.touched && f.password.errors?.required || f.password.errors?.minlength || f.password.errors?.pattern">
                        Password must be atleast 7 characters and include an uppercase letter, a number
                        and a special character</div>
                    </div>

                    <div class="form confirm">
                      <input #confirmPassword formControlName="confirmpassword" type="password" name="name"
                        autocomplete="off" required>
                      <label for="name" class="label-name">
                        <span class="content-name">Confirm Password</span>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="errormsgcolor"
                        *ngIf="f.confirmpassword.touched && f.confirmpassword.errors?.required">
                        Password
                        is required</div>
                      <div class="errormsgcolor"
                        *ngIf="f.confirmpassword.touched && f.confirmpassword.errors === null && f.confirmpassword.value !== f.password.value">
                        Password is not matching</div>
                    </div>
                    <button class="reset-btn done-btn">Reset Password</button>
                    <div>
                      <div *ngIf="success" class="submitmsgcolor mt-2">Successfully updated. Redirecting to login
                        page...</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>