<div class="traveller-content">
  <div class="logo-cont my-3">
    <div class="logo">
      <img class="img-full" src="https://funstay010121.s3.ap-south-1.amazonaws.com/common/assets/images/tripshifu-logo-black.svg" alt=""
        srcset="">
    </div>
  </div>
  <div class="traveller-heading">
    Join now and turn your travel interest into additional income!
  </div>
  <div class="traveller-subheading">
    Become a Tripshifu & Get Rewarded!
  </div>
  <div class="logo1">
    <div class="understand">
      Build
    </div>
  </div>
  <div class="travel-description">
    Use your travel knowledge and interest to build your diary with best itineraries and stays. Add your stories and
    experiences and inspire the world to travel.
  </div>
  <div class="logo2">
    <div class="engage">
      Engage
    </div>
  </div>
  <div class="travel-description">
    Engage with travellers in your social circle and share your recommendations from your diary.
  </div>
  <div class="logo3">
    <div class="impact">
      Inspire
    </div>
  </div>
  <div class="travel-description">
    Use your impact and skills, guide your social circle to choose the best holidays and get rewarded.
  </div>
  <div class="slide-down-btns">
    <div class="slide-btn-first">
      <a routerLink="/account/login" fragment="signIn"><span>Login</span></a>
    </div>
    <div class="slide-btn-second">
      <a routerLink="/account/signup" fragment="signUp"><span>Signup</span></a>
    </div>
  </div>
</div>
