.signin-box {
  border-bottom: solid 1px #d1d1d1;
  border-right: solid 1px #d1d1d1;
  /* background-color: #ffffff; */
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 57px;
  outline: none;
  text-decoration: none;
}
.social-btn {
  position: relative;
  display: block;
  height: 40px;
  border-radius: 24px;
  cursor: pointer;
}
.fb-btn {
  background: #3b5998;
  margin: 20px 10px 0 5px;
}

.insta-btn {
  background: linear-gradient(90deg, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
  margin: 20px 10px 0 5px;
}

.google-btn {
  background: #DD4B39;
  margin: 20px 10px 0 5px;
}

.otp-btn {
  background: #289672;
  margin: 20px 10px 0 5px;
}

.otp-btn .fb-icon {
  font-size: 2.5em;
  padding: 8px 15px;
}

.fb-icon {
  color: white;
  padding: 10px 15px;
  position: absolute;
}

.btn-txt {
  text-align: center;
  line-height: 2.5;
  color: white;
  font-size: 1.1rem;
  font-family: helvetica;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.border-line {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  height: 40px;
  display: inline-block;
  position: relative;
  left: 12%;
}

.line1 {
  border-bottom: 1px solid #d1d1d1;
  margin: 10px 0 0 25px;
}

.line2 {
  border-bottom: 1px solid #d1d1d1;
  margin: 10px 30px 0 0px;
}

.or {
  text-align: center;
  font-weight: bold;
  position: relative;
  top: 5px;
  color: #707070;
}

.or-content {
  margin: 20px 0 20px 0;
}

.done-btn {
  margin-bottom: 0px;
}

.signin-sec {
  margin: 1.5rem 0 0 0;
}

.otp {
  display: block;
  padding: 0 0 10px 0;
  cursor: pointer;
}

.getotp-section {
  margin: 20px 0 0 0;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

.background-img {
  background-image: url(https://res.cloudinary.com/funstaytest/image/fetch/https://funstay010121.s3.ap-south-1.amazonaws.com/common/assets/images/influencer-landing.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  /* margin: 72px 0 0 0; */
}

.traveller-content {
  margin: 0 0px 0px 40px;
}

.traveller-heading {
  font-size: 30px;
  font-weight: bold;
  font-family: helvetica;
  color: #fff;
}

.traveller-subheading {
  font-size: 18px;
  color: #fff;
  font-family: helvetica;
  width: 60%;
  margin: 0 0 25px 0;
}

.logo1 {
  background-image: url(https://funstay010121.s3.ap-south-1.amazonaws.com/common/assets/images/idea.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 29px;
  margin: 0 20px 0 20px;
}

.logo2 {
  background-image: url(https://funstay010121.s3.ap-south-1.amazonaws.com/common/assets/images/engage.png);
  background-repeat: no-repeat;
  width: 23px;
  height: 26px;
  margin: 0 20px 0 20px;
}

.logo3 {
  background-image: url(https://funstay010121.s3.ap-south-1.amazonaws.com/common/assets/images/reward.png);
  background-repeat: no-repeat;
  width: 22px;
  height: 25px;
  margin: 0 20px 0 20px;
}

.understand, .engage, .impact {
  font-size: 18px;
  font-family: helvetica;
  color: #fff;
  margin: 0 0px 0 40px;
}

.travel-description {
  font-size: 15px;
  font-family: helvetica;
  color: #fff;
  margin: 10px 0 30px 60px;
  width: 60%;
}

.signup-here1 {
  margin: 0 0 40px 20px;
  color: #fff;
  font-size: 15px;
  position: absolute;
  bottom: 0;
}

.mod-box {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: white;
  padding: 0 15px 10px 15px;
  height: 650px;
}

.signin-box .signin {
  color: #707070;
  text-decoration: none;
}

.signup-box {
  border-bottom: solid 1px #d1d1d1;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 57px;
  outline: none;
  text-decoration: none;
}

.signup-box .signin {
  color: #707070;
  text-decoration: none;
}

.welcome {
  margin: 20px 0 0 0;
  /* margin: 102.300px 0 102.300px 0; */
  /* margin: 5.52rem 0 5.52rem 0; */
}

label {
  font-size: 0.9rem;
}

.welcome .title {
  height: 41px;
  font-family: Helvetica;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #707070;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome .signin-title {
  height: 12px;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  color: #707070;
  display: flex;
  align-items: center;
  justify-content: center;
}

.design-input {
  /* width: 316px; */
  height: 41px;
  border-radius: 21px;
  border: solid 1px #d1d1d1;
}

.signup-btn {
  width: 147px;
  height: 49px;
  font-size: 15px;
}

.signup .done-btn {
  margin: 0px;
}

.signup {
  margin-top: 1.5rem;
}

.terms {
  padding: 5px 0 0 0;
  cursor: pointer;
}

.terms .link {
  color: #175bdd;
  font-size: 13px;
}

.active-link {
  border-top-left-radius: 38px;
  background: linear-gradient(90deg, #f06257, #f9a125);
}

.active-link .signin {
  color: #fff;
}

a {
  text-decoration: none;
}

.eye {
  padding-right: 15px;
  color: #8c8383;
  font-size: 0.9rem;
}

.eye-icon {
  display: flex;
  justify-content: space-between;
}

.validate-error-size {
  height: 15px;
}

.footer-box {
  height: auto;
  /* background-color: #eeeeee; */
  background: linear-gradient(90deg, #f06257, #f9a125);
}

.talk {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.mob-number {
  color: white;
}

.information {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.news {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.interesting {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.payments {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.social-media {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 10px;
}

.instamojo-ico {
  display: inline-block;
  margin: 0 5px 0 0;
}

.instamojo {
  width: 30px;
  height: 20px;
}

.visa-ico {
  display: inline-block;
  margin: 0 5px 0 0;
}

.visa {
  width: 20px;
  height: 20px;
}

.mastercard-ico {
  display: inline-block;
  margin: 0 5px 0 0;
}

.mastercard {
  width: 20px;
  height: 10px;
}

.rupay-ico {
  display: inline-block;
  margin: 0 5px 0 0;
}

.rupay {
  width: 30px;
  height: 10px;
}

.upi-ico {
  display: inline-block;
  margin: 0 5px 0 0;
}

.upi {
  width: 30px;
  height: 20px;
}

.social-content {
  display: flex;
}

.linkss {
  color: white;
  cursor: pointer;
}

@media screen and (max-width:545px) {
  .login-container {
    padding: 0 1rem;
  }
  .mod-box {
    float: none;
    width: auto;
    margin: 0 0 1rem 0;
    border: hidden;
    padding: 0px;
  }
  .background-img {
    /* background-image: none; */
    margin: 0;
  }
  .traveller-content {
    display: none;
  }
  .signin-box {
    display: none;
  }
  .signup-box {
    display: none;
  }
  .welcome {
    /* margin: 70px 0 0 0; */
    /* margin: 120px 0 117px 0; */
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
  }
  .mob-number {
    padding: 0 0 0 20px !important;
  }
  .version {
    text-align: center;
    margin: 10px 0 10px 0;
    color: white;
  }
  .rights {
    text-align: center;
    color: white;
  }
  .address {
    text-align: center;
    color: white;
  }
  .signup-here {
    display: flex;
    justify-content: center;
    margin: 15px 0 15px 0;
    color: #888888;
    font-size: 0.8rem;
  }
  .signup-link {
    cursor: pointer;
  }
  .info-links {
    color: white;
    cursor: pointer;
    display: block;
    width: auto;
    margin: 0 30px 0 0;
  }
  .all-info {
    margin: 0 0 0 20px;
  }
}

@media screen and (min-width:546px) {}

@media screen and (min-width: 768px) {
  .mod-box {
    height: 685px;
  }
  .all-info {
    margin: 0;
  }
  .design-input {
    width: 316px;
  }
  .footer {
    margin: 30px 0 0 0;
  }
  .info-links {
    color: white;
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin: 0 30px 0 0;
  }
  .version {
    text-align: left;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: normal;
    color: white;
  }
  .rights {
    text-align: right;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: normal;
    color: white;
  }
  .address {
    text-align: left;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: normal;
    color: white;
  }
  /* .footer-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
    margin-top: 20px;
  } */
  .talk {
    font-size: 16px;
    text-align: left;
  }
  .mob-number {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
  .instamojo-ico {
    margin: 0 15px 0 0;
  }
  .instamojo {
    width: 90px;
    height: 25px;
  }
  .visa-ico {
    margin: 0 15px 0 0;
  }
  .visa {
    width: 60px;
    height: 40px;
  }
  .mastercard-ico {
    margin: 0 15px 0 0;
  }
  .mastercard {
    width: 60px;
    height: 40px;
  }
  .rupay-ico {
    margin: 0 15px 0 0;
  }
  .rupay {
    width: 60px;
    height: 20px;
  }
  .upi-ico {
    margin: 0 15px 0 0;
  }
  .upi {
    width: 70px;
    height: 30px;
  }
  .social-content {
    margin: 20px 0 20px 0;
  }
  .social-content .social-media {
    font-size: 16px;
    font-weight: bold;
  }
  .social-content .social-links-cont .social-link-item {
    margin: 0 10px 0 0;
  }
  .payments-ico {
    display: flex;
    justify-content: unset !important;
  }
  .about {
    display: inline-block;
    white-space: nowrap;
    margin-right: 30px;
  }
  .contact {
    display: inline-block;
    white-space: nowrap;
    margin: 0 30px 0 0;
  }
  .Privacy {
    display: inline-block;
    white-space: nowrap;
    margin: 0 30px 0 0;
  }
  .user {
    display: inline-block;
    white-space: nowrap;
    margin: 0 30px 0 0;
  }
  .socio-respo {
    display: inline-block;
    white-space: nowrap;
    margin: 0 30px 0 0;
  }
  .sitemap {
    display: inline-block;
    white-space: nowrap;
    margin: 0 30px 0 0;
  }
  .careers {
    display: inline-block;
    white-space: nowrap;
  }
  .all-info {
    display: block;
    /* margin: 0 20px 0 0; */
  }
  .signup-here {
    display: none;
  }
  .bottom {
    margin: 0 0 15px 0;
  }
  .spacetoleft {
    margin-left: 5px;
  }
  .terms {
    padding: 5px 0 0 12px;
  }
  .signup-btn {
    margin-right: 5px;
  }
  .eye {
    padding-right: 30px;
    cursor: pointer;
  }
  .errormsgcolor {
    font-size: 0.7rem;
    margin-left: 5px;
  }
  .error-msg-size {
    height: 20px;
    margin: 0 0 0 12px;
  }
}

@media screen and (min-width:992px) {
  .footer-content {
    font-size: 20px;
  }
  .talk {
    font-size: 20px;
  }
  .mob-number {
    font-size: 20px;
  }
  .social-content .social-media {
    font-size: 20px;
  }
}